div.content {
    display: none;
}

#name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 100px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #01a252; */
    color: teal;
}

#content {
    background-color: black;
}

@media screen and (max-width: 1080px) {
    #content {
        top: 10%;
    }
}

@media screen and (max-width: 1024px) {
    #content {
        top: 5%;
    }
}

@media screen and (max-width: 800px) {
    #content {
        top: 5%;
    }
}

@media screen and (max-width: 480px) {
    #content {
        top: 10%;
    }
}

#content .row {
    margin-bottom: 0px;
}

.row.education,
.row.work {
    padding: 1%;
}

#links .col.s2 {
    padding: 0;
}


#tabs {
    position: fixed;
    width: 100%;
    background-color: #1f1f1d;
    z-index: 9999;
    height: 80px;
    padding-top: 30px;
}

#tabs span {
    float: left;
    padding-left: 2%;
    text-align: center;
}

#skills .row {
    padding-top: 1%;
    padding-bottom: 1%;
}

.skill {
    text-align: center;
}

.skill .icon {
    font-size: 3em;
}

.skill span {
    display: block;
    font-size: 1rem;
    text-align: center;
}

#skills .m2 {
    width: 14.666%;
    margin: 1%;
    padding: 2%;
    border-radius: 50%;
    font-size: 1.15rem;
    text-align: center;
}

#contact {
    margin-top: -40px;
    text-align: center;
}

.status {
    color: #af7be3;
}

.position {
    text-align: right;
}

.period {
    text-align: right;
}


.work .col {
    padding: 0;
}

.education .col {
    padding: 0;
}

.education.col.s12,
.work.col.s12 {
    margin: 1%;
}

.golden {
    color: #d3a04d;
    background-color: none;
}

a {
    color: green;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: #1f1f1d;
    /* background-color: #646464; */
    color: #b6b6b6;
    font-family: "Lekton", monospace;
    font-size: 1.3rem;
    font-display: auto;
}

h6 {
    font-size: 1.15rem;
}
